.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header-nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  color: var(--navy-blue);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-link.active {
  color: var(--ocean);
}

.header-nav-link:hover,
.header-nav-link:active,
.header-nav-link:focus {
  color: var(--ocean);
}

.header-nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--ocean);
}

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header-address-link {
  font-style: normal;
  color: var(--slate);
}

.header-address-link:hover,
.header-address-link:active,
.header-address-link:focus {
  color: var(--ocean);
}

.header-logo {
  margin-right: 76px;
}
